:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.message-wrapper.system {
  justify-content: center;
  margin: 10px 0;
}

.system-message {
  background-color: rgba(255, 255, 255, 0.1);
  color: #aaa;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 0.85em;
}